
<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>VBUQS WORLD | HOME OF URBAN GOSPEL NEWS AND PROMOS</title>
  
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Music website coded in HTML, CSS, and JQuery" />
  <meta name="keywords" content="msuic, website, template, responsive" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" title="style" />

  <!-- Bootsrap Css CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>


<body style="font-size: 13.5px;">
	
    <header>
		<div id="logo">
          <h1><a href="index.html">VBUQS NEWS</a></h1>
		  <h2><a href="index.html">Simple. Lightweight. Responsive.</a></h2>
      </div>
	 </header>
	 
	 <nav class="container">
		<ul class="clearfix" id="cfix">
			<li class="icon" id="icon">
				<a href="javascript:void(0);" onclick="myMenu()">&#9776; Menu</a>
			</li>
			<li>
				<ul class="scroll" id="scroll">
					<li><a href="{% url 'home'%}">Home</a></li>
					<li><a href="{% url 'home'%}">About</a></li>
					<li><a href="{% url 'home'%}">Subscribe</a></li>
					<li><a href="{% url 'home'%}">Music</a></li>
					<li><a href="{% url 'home'%}">News</a></li>
					<li><a href="{% url 'home'%}">Press</a></li>
					<li><a href="{% url 'home'%}">Videos</a></li>
					<li><a href="{% url 'home'%}">Shows</a></li>
					<li><a href="{% url 'home'%}">Photos</a></li>
					<li><a href="{% url 'home'%}">Contact</a></li>
				</ul>
			</li>
		</ul>
	</nav>
		
	<div class="spacer"></div>  
	
    <div class="site_content">
	
		<div id="content">
			<h3 class="lines">Trending News Dialy</h3>
			<div>
				<h4 style="color: red; "> <u><strong>VBUQS WORLD </strong></u></h4>

			</div>
			
			</div>
		
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut feugiat nunc. Nulla euismod ut mi sit amet sagittis. Suspendisse rutrum arcu eu velit pulvinar, in iaculis felis condimentum. Pellentesque at metus quam. Morbi sollicitudin metus arcu, vel eleifend eros faucibus nec.</p>

			<div class="pagesbar">
				<ul class="pages">
					<li><a href="index.html#shows">Buy Tickets</a></li>
				</ul>	
			</div>
			
			<p>Maecenas dignissim et nulla nec eleifend. Sed leo mi, ornare at augue vel, posuere vulputate justo. Suspendisse aliquam, ex ullamcorper tristique malesuada, ex neque ornare tortor, non maximus ante lorem a augue. Aliquam porttitor egestas elit, ut sagittis urna maximus quis. Phasellus pulvinar libero quis velit congue imperdiet. In hac habitasse platea dictumst.</p>

			<p>Mauris tristique risus arcu, sit amet suscipit tellus posuere id. Nullam scelerisque ipsum ut felis tristique, non eleifend tortor accumsan.</p>
		</div>
		
	</div>
	

	
	<footer>
		<ul id="social_media">
			<li><a href="index.html">
			<img src="/static/images/icons/facebook.png" alt="Facebook" /></a></li>

			<li><a href="index.html">
			<img src="/static/images/icons/instagram.png" alt="Instagram" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/youtube.png" alt="YouTube" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/twitter.png" alt="Twitter" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/itunes.png" alt="iTunes" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/spotify.png" alt="Spotify" /></a></li>

			<li><a href="index.html">
			<img src="/static/images/icons/amazon.png" alt="Amazon" /></a></li>
						
			<li><a href="index.html">
			<img src="/static/images/icons/play.png" alt="Google Play" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/shop.png" alt="Store" /></a></li>
			
			<li><a href="index.html#mail">
			<img src="/static/images/icons/mail.png" alt="Subscribe" /></a></li>
		</ul>
			
		<ul id="btmtext">
		  <li><h6><a href="terms.html">Copyright &copy; 2021 VBQUS WORLD / URBAN GOSPEL WAVES. All Rights Reserved.</a></h6></li>
		  <li><h6><a href="web.html">Built by : Boakye N.A Julius</a></h6></li>
		</ul>
	</footer>

  	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="/static/js/fixedNavMenu.js"></script>
	<!-- Bootsrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>