<!DOCTYPE HTML>
<html lang="en/fr">

<head>
  <title>VBUQS WORLD | HOME OF URBAN GOSPEL NEWS AND PROMOS</title>
  
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Music website coded in HTML, CSS, and JQuery" />
  <meta name="keywords" content="msuic, website, template, responsive" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="icon" type="image/png" href="/static/images/blog/vbuq.png">
  
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" title="style" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- scoll-fix resolves Firefox anchor location bug -->
  <!-- When clicking a navigation option from a different page it does not accurately go to the intended id tag area. -->
  <!-- This script reloads the page to force the anchor into the right location -->
  <script>
	function now(){
		window.location.reload(true);
	}
  </script>



  
</head>

<body style="font-size: 12px;">
    <header>
		<div id="logo">
          <h1><a href="index.html">VBUQS WORLD&trade;

		</a></h1>
		  <h2><a href="index.html">Music for the soul and Christ</a></h2>
      </div>
	 </header>

		<nav class="container">
			
			<ul class="clearfix" id="cfix">
				<li class="icon" id="icon">
					<a href="javascript:void(0);" onclick="myMenu()">&#9776; Menu</a>
				</li>
				<li>
					
					<ul class="scroll" id="scroll">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#merch">Big hitters</a></li>
						<li><a href="#subscribe">Subscribe</a></li>
						<li><a href="{% url 'vbuqsnews'%}">Music</a></li>
						<li><a href="#news">News</a></li>
						<li><a href="#press">Press</a></li>
						<li><a href="#videos">Videos</a></li>
						<li><a href="#shows">Shows</a></li>
						<li><a href="#photos">Photos</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</li>
			</ul>
		</nav>

	<section id="home">
	<hr class="horizontal" />
	<div class="hero">
		<div id="overlay">
			<div class="hero-text">

				<h2>VBUQS WORLD  - Sounds Like Music</h2>
				<p>Urban Gospel In Another Level</p>
				
				<div class="pagesbar-music">
					<ul class="pages-music">
						<li><a href="{% url 'news' %}">click here for Trending News</a></li>
					</ul>	
				</div>			
			 
				<div id="go-btm"><a href="#about" class="go-btm">&#9660;</a></div>
			</div>
		</div>
	</div>

	

	</section>
			
	<div class="site_content_index">
        
		<div id="content">
		<div class="anchor-box">	
		<hr class="horizontal" />
		<section id="about">
		<h3 class="anchor">About</h3>
		</section>
		<hr class="horizontal" />
		</div>
		
			<ul class="social_media_music">
			<li><a href="index.html">
			<img src="/static/images/icons/facebook_b.png"  id = "facebook-hover" alt="Facebook" /></a></li>

			<li><a href="index.html">
			<img src="/static/images/icons/instagram_b.png" alt="Instagram" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/youtube_b.png" alt="YouTube" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/twitter_b.png" alt="Twitter" /></a></li>

			</ul>
			
			<p><img src="/static/images/blog/vbuq.png" alt="urban gospel" style="display: block; margin-left: auto; margin-right: auto; width: 400px;  height: 200px;">
				Vicent Teye Buqs is my name you can call me <strong>VBUQS</strong> a.k.a <strong>Urban Gospel President</strong>, VBUQS is a blogger with the aim of pushing 
				 Urban Gospel Music to the world, especially in Ghana, <strong>VBUQS WORLD</strong> is a Jesus & Rap Entertainment thing, it cut across this areas, Blogging,Promo,Branding,Music distrubiton etc.
			</p>
			
			<div class="pagesbar">
				<ul class="pages">
					<li><a href="javascript:void(0);" onclick="hideText()">Read Bio</a></li>
					<li class="hide" id="about-text">
						<p>Boakye Nana Acheampong Julius is my name , an urban gospel artiste ,rapper and many more, 
						</p>
						
						<div id="read-bio">
						<p>Fusce commodo malesuada ipsum non volutpat. Nulla quis ullamcorper leo, nec tristique lorem. In dapibus hendrerit molestie. 
						   Sed dictum dictum vehicula. Quisque a elit justo. Morbi id nisl sed dui dignissim semper et et tellus. 
						   In egestas a urna sit amet elementum.
						</p>
						</div>
					</li>
				</ul>	
			</div>
			
			
		<div class="anchor-box">
			<hr class="horizontal" />
			<section id="merch">
			<h3 class="anchor">WEEKLY BIG HITTERS - VBUQS WORLD</h3>
			</section>
			<hr class="horizontal" />
		</div>

			<ul class="grid">
				<li class="grid_item span j"><a href="index.html" class="grid_link"><div class="tile">SCOTT EVANS</div></a></li>
				<li class="grid_item span k"><a href="index.html" class="grid_link"><div class="tile">KOBBY SALM</div></a></li>
				<li class="grid_item span l"><a href="index.html" class="grid_link"><div class="tile">KINGZKID</div></a></li>			
			</ul>

		
		
		<div class="anchor-box">
			<hr class="horizontal" />
			<section id="news">
			<h3 class="anchor">NEWS - Trending Today</h3>
			</section>
			<hr class="horizontal" />
		</div>

			<ul class="grid">
				<li class="grid_item span g"><a href="blog_video.html" class="grid_link"><div class="tile">Scott Evans - Mapeke </div></a></li>
				<li class="grid_item span h"><a href="blog_tour.html" class="grid_link"><div class="tile">P.O Godson - Adwuma</div></a></li>
				<li class="grid_item span i"><a href="blog_studio.html" class="grid_link"><div class="tile">In the Studio</div></a></li>
			</ul>
			<a href="{% url 'news' %}" target="_parent" id="newslink"><h3>More News Here</h3></a>
	
			<div class="anchor-box">
			<hr class="horizontal" />
			<section id="videos">
			<h3 class="anchor">Top Videos for the week</h3>
			</section>
			<hr class="horizontal" />
			</div>
			
				<div class="flexbox-video">
				<div class="video">
					<h4 class="center">{{youtube.name}}</h4>
					<div class="youtube-player" data-id="T5YDdDWVATs"></div>
				</div>
				
				<div class="video">
					<h4 class="center">{{youtube1.name}}</h4>
					<div class="youtube-player" data-id="F3dN76clGJU"></div>
				</div>

				
				</div>
				
				
			
			<div class="anchor-box">
			<hr class="horizontal" />
			<section id="shows">
			<h3 class="anchor">Upcoming Program & Concerts</h3>
			</section>
			<hr class="horizontal" />
			</div>
			
			<div class="flexbox-shows">

				<div class="shows-text">
						<div class="center"><h4>{{shows.name}}</h4></div>
						<div class="center"><p>{{shows.venue}}</p></div>
						<div class="center"><p>{{shows.Date}} | {{shows.Time}}</p></div>
				
				<div class="pagesbar">
					<ul class="pages">
						<li><a href="{{shows.link}}">Show More</a></li>
					</ul>	
				</div>
				</div>

				<div class="shows-text">
						<div class="center"><h4>{{show1.name}}</h4></div>
						<div class="center"><p>{{show1.venue}}</p></div>
						<div class="center"><p>{{show1.Date}}  |{{show1.Time}}</p></div>
				
				<div class="pagesbar">
					<ul class="pages">
						<li><a href="{{show1.link}}">Show More</a></li>
					</ul>	
				</div>
				</div>
				
				<div class="shows-text">
						<div class="center"><h4>St. Louis Stadium</h4></div>
						<div class="center"><p>St. Louis, MO</p></div>
						<div class="center"><p>May 3rd | 8 - 12 PM</p></div>
				
				<div class="pagesbar">
					<ul class="pages">
						<li><a href="index.html">Buy Tickets</a></li>
					</ul>	
				</div>
				</div>
				
				
				
			</div>


			<div class="anchor-box">
			<hr class="horizontal" />
			<section id="photos">
			<h3 class="anchor">Photos</h3>
			</section>
			<hr class="horizontal" />
			</div>
				
			<ul class="grid">
			    <li class="grid_item span a"><a href="/static/images/gallery/light-show.jpg" class="grid_link" data-lightbox="pics" data-title="Light show"></a></li>
				<li class="grid_item span b"><a href="/static/images/gallery/synth.jpg" class="grid_link" data-lightbox="pics" data-title="Playing synth"></a></li>
				<li class="grid_item span c"><a href="/static/images/gallery/singing.jpg" class="grid_link" data-lightbox="pics" data-title="Singing"></a></li>
				<li class="grid_item span d"><a href="/static/images/gallery/guitar.jpg" class="grid_link" data-lightbox="pics" data-title="Playing guitar"></a></li>
				<li class="grid_item span e"><a href="/static/images/gallery/bass.jpg" class="grid_link" data-lightbox="pics" data-title="Playing bass"></a></li>
				<li class="grid_item span f"><a href="/static/images/gallery/concert.jpg" class="grid_link" data-lightbox="pics" data-title="Concert in CA"></a></li>
			</ul>
		
		<div class="anchor-box">
			<hr class="horizontal" />
			<section id="contact">
			<h3 class="anchor">Contact</h3>
			</section>
			<hr class="horizontal" />
		</div>
		
		<form id="contacts" name="htmlform" method="post">
          <div class="form_settings">
            <input class="name" type="text" name="name" placeholder="Name" required />
            <input class="email" type="email" name="email" placeholder="Email" required />
			<input class="subject" type="text" name="subject" placeholder="Subject" required />
            <textarea class="message" rows="4" cols="50" name="message" placeholder="Message" required></textarea>
			<div>
            <input class="submit" type="submit" name="contact_submitted" value="submit" />
			</div>
          </div>
        </form>


	</div>
	</div>
	<div class="anchor-box">
		<hr class="horizontal" />
		<section id="subscribe">
		<h3 class="anchor">Subscribe</h3>
		</section>
		<hr class="horizontal" />
	</div>
	
		<form id="email-form">
				<div class="form_settings">
				<h2 style="color: #fff;">Join our Mailing List</h2>
				<p>Subscribe to get the latest news, tour dates, and mailing list exclusives</p>
					<div class="field">
						<input type="email" name="email" placeholder="vbuqs@gmail.com" required clas="boxemail" />
					</div>
						
					<div id="myBtn">
						<div class="field">
							<input type="button" value="submit" class="submit"/>
						</div>
					</div>					
				</div>
		</form>
		
		<div id="myModal" class="modal">

		<div class="modal-content">
		<span class="close">&times;</span>
			<div class="center">
			<p>Thanks for joining our mailing list!</p>
			<p><a href="https://docs.google.com/spreadsheets/d/1lqfvMxZgZgZkYTMEHQfcmEHSunweDe9XukE-aVWE2PY/edit?usp=sharing" target="blank" >Click here</a> to view the email address you entered.</p>
			</div>
		</div>

		</div>
	
		<div id="myError" class="modal">

			<div class="modal-content">
			<span class="close_error">&times;</span>
				<div class="center">
				<p>Invalid email address. Please try again.</p>
				</div>
			</div>

		</div>		

	<footer>
		<ul id="social_media">
			<li><a href="index.html">
			<img src="/static/images/icons/facebook.png" alt="Facebook" /></a></li>

			<li><a href="index.html">
			<img src="/static/images/icons/instagram.png" alt="Instagram" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/youtube.png" alt="YouTube" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/twitter.png" alt="Twitter" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/itunes.png" alt="iTunes" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/spotify.png" alt="Spotify" /></a></li>

			<li><a href="index.html">
			<img src="/static/images/icons/amazon.png" alt="Amazon" /></a></li>
						
			<li><a href="index.html">
			<img src="/static/images/icons/play.png" alt="Google Play" /></a></li>
			
			<li><a href="index.html">
			<img src="/static/images/icons/shop.png" alt="Store" /></a></li>
			
			<li><a href="index.html#mail">
			<img src="/static/images/icons/mail.png" alt="Subscribe" /></a></li>
		</ul>
			
		<ul id="btmtext">
		  <li><h6><a href="terms.html">Copyright &copy; 2021 VBQUS WORLD / URBAN GOSPEL WAVES . All Rights Reserved.</a></h6></li>
		  <li><h6><a href="web.html">Built by : Boakye N.A Julius</a></h6></li>
		</ul>
	</footer>
	
	<script src="/static/js/mailingList.js"></script>
	<script src="/static/js/contact.js"></script>
	<script src="/static/js/jquery.serialize-object.js"></script>
	<script src="/static/js/modal.js"></script>
	<script src="/static/js/fixedNavMenu.js"></script>
	<script src="/static/js/scroll.js"></script>
	<script src="/static/js/musPlayer.js"></script>	
	<script src="/static/js/vid.js"></script>
	<script src="/static/js/lightbox.js"></script>
	<link rel="stylesheet" href="/static/css/lightbox.css" type="text/css" title="style">
</body>
</html>
